<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.architecture.admin.models.dao.jwt.JwtDao">
    <!-- database name -->
    <sql id="database">${databaseRefId}</sql>

    <!-- ==============================================================
        INSERT
    =============================================================== -->
    <!-- jwt refresh 토큰 저장 -->
    <insert id="insertRefreshToken" parameterType="hashMap">
        INSERT INTO <include refid="database" />`puppycat_jwt_refresh_token`
        <set>
            `refresh_token`   = #{refreshToken},
            `id`              = #{id},
            `ip`              = #{ip},
            `member_uuid`     = #{memberUuid},
            `app_key`         = #{appKey},
            `reg_date`        = #{regDate},
            `reg_date_tz`     = '${convertTZ}'
        </set>
    </insert>

    <!-- ==============================================================
       UPDATE
    =============================================================== -->
    <!-- jwt refresh 토큰 수정 -->
    <insert id="updateRefreshToken" parameterType="hashMap">
        UPDATE <include refid="database" />`puppycat_jwt_refresh_token`
        <set>
            `refresh_token` = #{refreshToken},
            `ip`            = #{ip},
            `reg_date`      = #{regDate},
            `reg_date_tz`   = '${convertTZ}'
        </set>
        WHERE 
              `id` = #{id}
          AND `member_uuid`   = #{memberUuid}
          AND `app_key`       = #{appKey}
    </insert>

    <!-- ==============================================================
        DELETE
    =============================================================== -->
    <!-- jwt refresh 토큰 빈값으로 수정 -->
    <update id="deleteRefreshToken" parameterType="MemberDto">
        UPDATE <include refid="database" />`puppycat_jwt_refresh_token`
        <set>
            `refresh_token`     = ''
        </set>
        WHERE
                `member_uuid`    = #{memberUuid}
            AND `app_key`        = #{appKey}
    </update>

</mapper>