<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.architecture.admin.models.daosub.comment.CommentDaoSub">
    <!-- ==============================================================
        SETTING
    =============================================================== -->
    <!-- database name -->
    <sql id="database">${databaseRefId}</sql>

    <!-- 공통으로 사용할 field -->
    <sql id="memberColumns">

    </sql>

    <!-- ==============================================================
        SELECT
    =============================================================== -->
    <!-- 좋아요 많은 댓글 회원 정보  -->
    <select id="getLikeManyCommentMemberInfo" parameterType="String" resultType="MemberDto">
        SELECT
            `pume`.`nick`,
            `pume`.`uuid`,
            IF(`pumeprim`.`url` = '','',CONCAT(#{imgDomain}, `pumeprim`.`url`)) `profileImgUrl`,
            `pumeprin`.`intro`
        FROM
            <include refid="database"/>`puppycat_member` AS `pume`
        INNER JOIN <include refid="database"/>`puppycat_member_profile_intro` AS `pumeprin`
            ON `pumeprin`.`member_uuid` = `pume`.`uuid`
        INNER JOIN <include refid="database"/>`puppycat_member_profile_img` AS `pumeprim`
            ON `pumeprim`.`member_uuid` = `pume`.`uuid`
            AND `pumeprim`.`sort` = 1
        WHERE
                `pume`.`state` = 1
            AND `pume`.`uuid` = #{uuid}
    </select>


</mapper>